{% extends "base.html.twig" %}

{% set imgUrl = "img/hero.jpg" %}
{% set titlePage = "Hotel De Zonne Vallei" %}

{% block title %}Kamers{% endblock %}

{% block body %}
    {% for room in rooms %}
        {% if loop.index is even %}
            <section class="flexContainer">
        {% else %}
            <section class="flexContainer reverse">
        {% endif %}
            <article>
                <h2>{{ room.type}}</h2>  
                <p>{{ room.text }}</p>
                {% if room.price %}
                    <p>€ {{ room.price }}</p>
                {% endif %}
            </article>
            {% if room.photo %}
                <img src="{{ asset('uploads/photos/' ~ room.photo) }}" alt="Room photo" class= "contentImg">
            {% endif %}
        </section>
    {% endfor %}
{% endblock %}