body {
    background-color: #e4e4e4;
}
section{
    margin: 20px auto;
    width:80%;
    padding: 25px;

}
h2{
    font-size:1.5rem;
    margin-bottom:25px;
    text-decoration: solid underline #B5925C 2px;
    text-underline-offset: 5px;
}
section p{
    font-size:1.2rem;
    margin-bottom:10px;
    line-height: 1.5;
}
article{
    width:60%;
    border: 1px solid #B5925C;
    border-radius: 5px;
    background-color: #FFFFFF;
    padding: 25px;
    
}
.flexContainer { 
    display: flex;
    justify-content: space-between;
    flex-direction: row;  
}
.reverse {
    text-align: right;
    flex-direction: row-reverse;
}
.reverse p {
    text-align: left;
}
.contentImg {
    width: 35%;
    border-radius: 5px;
}

.roomPhoto{
    width: 30%;
    height: auto;
    
    border-radius: 5px;
    margin-bottom: 10px;
}

.roomForm{
    display: flex;
    flex-direction: column;
}

.roomForm input{
    width: 50%;
    margin-bottom: 10px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #B5925C;
}

.roomForm textarea{
    width: 50%;
    height: 3rem;
    margin-bottom: 10px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #B5925C;
}

.roomForm button{
    width: 50%;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #B5925C;
    background-color: #B5925C;
    color: #FFFFFF;
    font-weight: bold;
    cursor: pointer;
}

#editRoomForm{
    display: none;
}

.editButton{
    width: 80px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #B5925C;
    background-color: #B5925C;
    color: #FFFFFF;
    font-weight: bold;
    cursor: pointer;
}

.deleteButton{
    width: 90px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #B5925C;
    background-color: #B5925C;
    color: #FFFFFF;
    font-weight: bold;
    cursor: pointer;
}

.buttons{
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px solid #B5925C;
}

.adminLink{
    color: #F9F58B;
}

#contactForm{
    display: flex;
    flex-direction: column;
}

#contactForm input{
    width: 50%;
    margin-bottom: 10px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #B5925C;
}

#contactForm textarea{
    width: 50%;
    height: 3rem;
    margin-bottom: 10px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #B5925C;
}
#contactForm button{
    width: 50%;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #B5925C;
    background-color: #B5925C;
    color: #FFFFFF;
    font-weight: bold;
    cursor: pointer;
}

footer{
    background-color: #B5925C;
    color: #FFFFFF;
    padding: 10px 10%;
    margin-top: 20px;
}

footer p span{
    font-weight: bold;
}