{% extends "base.html.twig" %}

{% set imgUrl = "img/hero.jpg" %}
{% set titlePage = "Contact" %}

{% block title %}Contact{% endblock %}

{% block body %}
    <section >
        <article class="fullArticle">
            <form id = "contactForm">
                <h2>Neem contact met ons op</h2>
                <label for="name">Naam:</label>
                <input type="text" id="name" name="name" required>
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" required>
                <label for="message">Bericht:</label>
                <textarea id="message" name="message" required></textarea>
                <button type="submit">Verstuur</button>
            </form>
        </article>
    </section>

    <section class="flexContainer">
        <article>
            <h2>Contact</h2>
            <p>Hotel De Zonne Vallei</p>
            <p>Adres: Straatnaam 85, 1234 AB Alkmaar</p>
            <p>Telefoon: 06-12345678</p>
            <p>Email:
        </article>
    </section>


{% endblock %}