<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		<link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>"> {% block stylesheets %}{% endblock %}

		{% block javascripts %}
			{% block importmap %}
				{{ importmap('app') }}
			{% endblock %}
		{% endblock %}
	</head>
	<body>
	<style>
	* {
		box-sizing: border-box;
		margin:0;
		padding:0;
	}
	nav{
		display: flex;
		justify-content: space-around;
		background-color: #B5925C;
		padding: 10px;
	}
	nav a {
		color: white;
		font-size:1.2rem;
		text-decoration: none;
	}
	</style>
		<header>
			<nav>
				<a href="#">Home</a>
				<a href="#">Kamers</a>
				<a href="#">Restaurant</a>
				<a href="#">Omgeving</a>
			</nav>
            <img src="{{imgUrl}}" alt="">
            <h1 style="font-size:3rem; margin:0 auto; width:100%; text-align:center; color:#B5925C;">{{titlePage}}</h1>
		</header>
		<main>
			{% block content %}{% endblock %}
		</main>
		<footer></footer>
	</body>
</html>
